{% extends "orders/base.html" %}

{% block title %}
    Pinocchio's Pizza & Subs:
{% endblock %}
{% block body %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal titleFont">Pinocchio's Pizza & Subs</h1>
            <p class="lead font-weight-normal">Noch's has been in business for over 50 years! We've been feeding Harvard and the surrounding area since 1966! <br> <br> We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 750 reviews on Yelp--- check it out!
                <br> <br>
                ***** July 1st,2020 UPDATE ***** <br>
                We have extended our hours. We are open from 11:00 am - 12 midnight Monday thru Saturday and from 12 noon - 12 midnight on Sunday. We now have limited indoor seating available on a first come basis and we are continuing takeout and delivery thru Grubhub, Doordash and Postmates. Thanks!!!
            </p>
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Check out our mention on Suits!</h2>
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <iframe width="420" height="320" src="https://www.youtube.com/embed/hoM7PJu6V-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">....and on the Phantom Gourmet</h2>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <iframe width="420" height="320" src="https://www.youtube.com/embed/TkABR72j7jU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="font-weight-normal titleFont">You can also find us at the following online/mobile services!</h1>
            <div>
                <a href="https://www.grubhub.com/restaurant/pinocchios-pizza--subs-74-winthrop-st-cambridge/503957?classicAffiliateId=%2Fr%2Fw%2F55381%2F&utm_source=www.pinocchiospizza.net&utm_medium=OOL&utm_campaign=order%20online&utm_content=503957"><img src="https://gh-prod-nitrosites.s3.amazonaws.com/iframeButton/images/large_gh_red.png" alt="Grubhub"></a>
                <a href="http://www.doordash.com/"><img src="http://www.pinocchiospizza.net/images/doordash.png" alt="Door Dash"></a>
            </div>
            <p class="lead font-weight-normal">
                Pinocchio's finally delivers! For catering orders over $100 call us directly. For other orders log in to Doordash or GrubHub and they will deliver to you within 45 minutes, it's very simple!<br><br>
                We accept Mastercard, Visa and Amex and we offer Gift Certificates which you can pick up in person or we can mail them out to you.<br><br>
                We can take orders by phone at 617-876-4897 or by email pinocchiospizza1@gmail.com<br><br>
                Find us on Twitter @PinocchiosPizz and Instagram @pinocchiospizza1</p>
        </div>
    </div>
{% endblock %}